.plan-details-page {
  margin: 2em 4em;
  align-items: center;
}

.plan-details-page h1 {
  font-weight: 700;
}

.lists {
  display: flex;
  justify-content: space-between;
}

.back-button {
  margin: 2em 4em;
}

.box {
  width: 30%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.box h4 {
  flex-grow: 1;
  font-weight: 700;
}

.list-top {
  margin: 1em 0em;
  width: 100%;
  padding: 1em 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 1em;
}



