.card {
  background-color: var(--bg-color);
  margin: 1em;
  width: calc(33.33% - 2em);
  min-width: 300px;
  box-sizing: border-box;
}

.section {
  border-bottom: 1px solid var(--dark-text-color);
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
  padding-bottom: var(--mantine-spacing-md);
}

.label {
  text-transform: uppercase;
  font-size: var(--mantine-font-size-xs);
  font-weight: 700;
  color: var(--dark-text-color);
}

