:root {
  --primary-color: #fab005;
  --accent-color: #5c5656;
  --dark-text-color: #201f1e;
  --light-text-color: #ffffff;
  --bg-color: #ebe9e8;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* Set Mantine-specific primary colors */
  --mantine-primary-color: var(--primary-color); /* Custom primary color */
  --mantine-primary-color-hover: var(--accent-color); /* Hover color */
}

/* Override Mantine's light theme body color */
[data-mantine-color-scheme="light"] {
  --mantine-color-body: var(--bg-color) !important;
}

#root {
  width: 100vw;
  height: 100vh;
}

/* Basic styling for body */
body {
  margin: 0;
  left: 0; 
  right: 0;
  display: flex;
  height: 100%;
  width: 100%;
  background-color: var(--bg-color) !important;
  font-family: var(--font-family); /* Apply font family */
}